<template name='metricsmenu'>
<div id='metricsmenu'>
    <span class='metric'>
        <span class='value'>128</span>
        <span class='label'>Total Listed</span>
    </span>
    <span class='metric'>
        <span class='value'>12</span>
        <span class='label'>Watching</span>
    </span>
    <span class='metric'>
        <span class='value'>91</span>
        <span class='label'>Completed</span>
    </span>
    <span class='metric'>
        <span class='value'>23</span>
        <span class='label'>On Hold</span>
    </span>
    <span class='metric'>
        <span class='value'>12</span>
        <span class='label'>Backlogged</span>
    </span>
    <span class='metric'>
        <span class='value'>2</span>
        <span class='label'>Abandoned</span>
    </span>
</div>
</template>