<template name='optionsmenu'>
<div id='optionsmenu'>
    <h1>Options & Settings</h1>
    <div id='optionsmenu-sections'>
        <div class='optionsmenu-section' data-section='sortby'>
            <h2>Sort By</h2>
            <div class='optionsmenu-item' data-value='title' data-default><i class='tickbox fa fa-circle'></i> Title</div>
            <div class='optionsmenu-item' data-value='type'><i class='tickbox fa fa-circle'></i> Type</div>
            <div class='optionsmenu-item' data-value='status'><i class='tickbox fa fa-circle'></i> Status</div>
            <div class='optionsmenu-item' data-value='rating'><i class='tickbox fa fa-circle'></i> Rating</div>
            <div class='optionsmenu-item' data-value='length'><i class='tickbox fa fa-circle'></i> Length</div>
        </div>
        <div class='optionsmenu-section' data-section='type'>
            <h2>Type</h2>
            <div class='optionsmenu-item' data-value='any' data-default><i class='tickbox fa fa-circle'></i> Any Type</div>
            <div class='optionsmenu-item' data-value='tv'><i class='tickbox fa fa-circle'></i> TV Series</div>
            <div class='optionsmenu-item' data-value='movie'><i class='tickbox fa fa-circle'></i> Movie</div>
            <div class='optionsmenu-item' data-value='ova'><i class='tickbox fa fa-circle'></i> OVA</div>
            <div class='optionsmenu-item' data-value='ona'><i class='tickbox fa fa-circle'></i> ONA</div>
        </div>
        <div class='optionsmenu-section' data-section='userstatus'>
            <h2>User Status</h2>
            <div class='optionsmenu-item' data-value='any' data-default><i class='tickbox fa fa-circle'></i> Any User Status</div>
            <div class='optionsmenu-item' data-value='watching'><i class='tickbox fa fa-circle'></i> Watching</div>
            <div class='optionsmenu-item' data-value='completed'><i class='tickbox fa fa-circle'></i> Completed</div>
            <div class='optionsmenu-item' data-value='onhold'><i class='tickbox fa fa-circle'></i> On Hold</div>
            <div class='optionsmenu-item' data-value='backlogged'><i class='tickbox fa fa-circle'></i> Backlogged</div>
            <div class='optionsmenu-item' data-value='abandoned'><i class='tickbox fa fa-circle'></i> Abandoned</div>
        </div>
        <div class='optionsmenu-section' data-section='airingstatus'>
            <h2>Airing Status</h2>
            <div class='optionsmenu-item' data-value='any' data-default><i class='tickbox fa fa-circle'></i> Any Airing Status</div>
            <div class='optionsmenu-item' data-value='ongoing'><i class='tickbox fa fa-circle'></i> Ongoing</div>
            <div class='optionsmenu-item' data-value='completed'><i class='tickbox fa fa-circle'></i> Completed</div>
        </div>
        <div class='optionsmenu-section' data-section='length'>
            <h2>Series Length</h2>
            <div class='optionsmenu-item' data-value='any' data-default><i class='tickbox fa fa-circle'></i> Any Length</div>
            <div class='optionsmenu-item' data-value='1to13'><i class='tickbox fa fa-circle'></i> 1-13 Episodes</div>
            <div class='optionsmenu-item' data-value='14to26'><i class='tickbox fa fa-circle'></i> 14-26 Episodes</div>
            <div class='optionsmenu-item' data-value='27to54'><i class='tickbox fa fa-circle'></i> 27-54 Episodes</div>
            <div class='optionsmenu-item' data-value='55plus'><i class='tickbox fa fa-circle'></i> 55+ Episodes</div>
        </div>
        <div class='optionsmenu-section' data-section='rating'>
            <h2>Rating</h2>
            <div class='optionsmenu-item' data-value='any' data-default><i class='tickbox fa fa-circle'></i> Any Rating</div>
            <div class='optionsmenu-item' data-value='0'><i class='tickbox fa fa-circle'></i> <i class='fa fa-star-o'></i></div>
            <div class='optionsmenu-item' data-value='1'><i class='tickbox fa fa-circle'></i> <i class='fa fa-star'></i></div>
            <div class='optionsmenu-item' data-value='2'><i class='tickbox fa fa-circle'></i> <i class='fa fa-star'></i><i class='fa fa-star'></i></div>
            <div class='optionsmenu-item' data-value='3'><i class='tickbox fa fa-circle'></i> <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i></div>
            <div class='optionsmenu-item' data-value='4'><i class='tickbox fa fa-circle'></i> <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i></div>
            <div class='optionsmenu-item' data-value='5'><i class='tickbox fa fa-circle'></i> <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i></div>
        </div>
    </div>
</div>
</template>