/** RESET CSS **/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/** FONTS **/
@font-face { font-family: 'HelveticaNeue';      src: url("/fonts/HelveticaNeue.ttf"); }
@font-face { font-family: 'HelveticaNeueUltLt'; src: url('/fonts/HelveticaNeueLTPro-UltLt.otf'); }
@font-face { font-family: 'HelveticaNeueLt';    src: url('/fonts/HelveticaNeueLTPro-Lt.otf'); }
@font-face { font-family: 'HelveticaNeueTh';    src: url('/fonts/HelveticaNeueLTPro-Th.otf'); }
@font-face { font-family: 'HelveticaNeueBd';    src: url('/fonts/HelveticaNeueLTPro-Bd_0.otf'); }
@font-face { font-family: 'ProximaNova';        src: url('/fonts/ProximaNova-Regular.otf'); }
@font-face { font-family: 'ProximaNovaLt';      src: url('/fonts/ProximaNova-Light.otf'); }
@font-face { font-family: 'ProximaNovaBd';      src: url('/fonts/ProximaNova-Semibold.otf'); }

/** DEFAULTS **/
*,html,body { font-size: 13px; font-family: 'HelveticaNeue', Times, Arial, sans-serif; }
body { background-color: #F6F6F6; }
body { min-width: 960px; }
b { font-family: 'HelveticaNeueBd', Helvetica, Arial, sans-serif; }

html, body, #container { height: 100%; }
#container { position: relative; }

/** CROPPER **/
#lean_overlay { position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%; background: #000; display: none; }
#cropper-dialog { display: none; color: #666; background-color: #FFF; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); }
#cropper-dialog .cropper-header { padding: 12px; color: #555; background-color: #EAEAEA; border-top-left-radius: 5px; border-top-right-radius: 5px; font-size: 14px; }
#cropper-dialog .tool-group { float: left; border-right: solid 1px #DDD; background-color: #FAFAFA; }
#cropper-dialog .tool-group h3 { padding: 12px; text-align: center; background-color: #FFF; border-bottom: solid 1px #DDD; }
#cropper-dialog .close-btn { cursor: pointer; font-size: 15px; color: #AAA; }
#cropper-dialog .close-btn:hover { color: #838383; }
#cropper-dialog .tool-container { width: 300px; height: 300px; }
#cropper-dialog .input-container { width: 100%; 12px; border-bottom: solid 1px #EEE; }
#cropper-dialog .input-url { width: 96%; padding: 2%; border: none; }
#cropper-dialog .notification-banner { overflow: hidden; height: 0px; width: 100%; text-align: center; color: #FFF; }
#cropper-dialog .notification-banner span { height: 32px; line-height: 32px; }
#cropper-dialog .success-notification-banner { background-color: #52B46A; }
#cropper-dialog .error-notification-banner { background-color: #F17070; }
#cropper-dialog .footer { padding: 12px; border-top: solid 1px #DDD; text-align: center; }
#cropper-dialog button { cursor: pointer; width: 64px; padding: 6px 12px; color: #FFF; border: none; border-radius: 5px; font-family: 'HelveticaNeue'; }
#cropper-dialog .save-btn { background-color: #2DB63D; }
#cropper-dialog .save-btn:hover { background-color: #43C553; }
#cropper-dialog .cancel-btn { background-color: #D13A3A; }

.jcrop-holder { margin: auto; }

/** MACROS **/
.pull-left { float: left; }
.pull-right { float: right; }
.wrapper { overflow: hidden; }