<template name='cropperTool'>
<a id='cropper-trigger' href='#cropper-dialog'>Cropper Tool</a>
<div id='cropper-dialog'>
    <div class='cropper-header wrapper'>
        <h1 class='pull-left'><i class='fa fa-camera'></i> Create a Picture for this Anime</h1>
        <div class='pull-right'><i class='close-btn fa fa-times-circle'></i></div>
    </div>
    <div class='error-notification-banner notification-banner'>
        <span>Bad input source</span>
    </div>
    <div class='success-notification-banner notification-banner'>
        <span>Successfully saved changes</span>
    </div>
    <div class='input-container'>
        <input class='input-url' type='text' placeholder='Enter picture URL here.' />
    </div>
    <div class='wrapper'>
        <div class='wrapper pull-left'>
            <div class='tool-group thumbnail pull-left'>
                <h3>Thumbnail (1:1)</h3>
                <div class='tool-container'>
                    <img class='tool-src' />
                </div>
            </div>
            <div class='tool-group portrait pull-left'>
                <h3>Portrait (16:10)</h3>
                <div class='tool-container'>
                    <img class='tool-src' />
                </div>
            </div>
        </div>
    </div>
    <div class='footer'>
        <button class='save-btn'>Save</button>
        <button class='cancel-btn'>Cancel</button>
    </div>
</div>
</template>