<template name='sidebar'>
<div id='sidebar'>
    {{> navbar}}
    {{> profile}}
    {{> notifications}}
</div>
</template>

<template name='navbar'>
<div id='navbar'>
    <div id='navbar-home' class='navitem' data-page='home'><i class='fa fa-home'></i></div>
    <div id='navbar-collection' class='navitem' data-page='collection'><i class='fa fa-th'></i></div>
    <div id='navbar-friends' class='navitem' data-page='friends'><i class='fa fa-group'></i></div>
</div>
</template>

<template name='profile'>
<div id='profile'>
    <div id='profile-image' style='background-image:url(assets/male-no-pic.jpg);'></div>
    <div id='profile-text-group'>
        <span id='profile-name'>Kevin Chen</span>
        <span id='profile-control'><i class='fa fa-chevron-down'></i></span>
    <div>
</div>
</template>

<template name='notifications'>
<div id='notifications'>
    <h1>Notifications (23)</h1>
    <div id='notifications-list'>

        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
        <div class='notification'>
            <div class='picture' style='background-image:url(http://static.hummingbird.me/anime/poster_images/000/008/246/large/57767.jpg?1389070040);'></div>
            <div class='info'>
                <div class='message'><span>One Piece</span> Episode 523 Now Available!</div>
                <div class='timestamp'>2 hours ago</div>
            </div>
            <i class='ack fa fa-check-square'></i>
        </div>
    </div>
</div>
</template>