<template name='topbar'>
<div id='topbar'>
    <i id='toggle-sidebar' class='pull-left topbar-btn fa fa-bars'></i>
    <div id='searchbar' class='pull-left'>
        <i class='fa fa-search'></i>
        <input id='search-field' type='text' placeholder='Search for an anime in your collection.' />
    </div>
    <i id='toggle-optionsmenu' class='pull-right topbar-btn fa fa-gears'></i>
    <i id='toggle-metricsmenu' class='pull-right topbar-btn fa fa-bar-chart-o'></i>
    <i id='toggle-addanime' class='pull-right topbar-btn fa fa-plus-circle'></i>
</div>
</template>